## Pandas - DataFrame

In [29]:
import numpy as np
from numpy.random import randn
import pandas as pd

In [30]:
# Index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [31]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B']) # Multi level index
df

             A         B
G1 1 -0.418265  1.316749
   2 -0.694856 -1.459351
   3  0.651329 -0.593532
G2 1 -1.444447  0.454308
   2 -0.322933 -2.094540
   3 -1.248701 -0.280919

In [32]:
df.loc['G1']

          A         B
1 -0.418265  1.316749
2 -0.694856 -1.459351
3  0.651329 -0.593532

In [33]:
df.index.names = ['Groups', 'Numbers']

In [34]:
df

                       A         B
Groups Numbers
G1     1       -0.418265  1.316749
       2       -0.694856 -1.459351
       3        0.651329 -0.593532
G2     1       -1.444447  0.454308
       2       -0.322933 -2.094540
       3       -1.248701 -0.280919

In [35]:
df.loc['G2'].loc[3]['B']

-0.2809189385503057

In [36]:
df.xs

<bound method NDFrame.xs of                        A         B
Groups Numbers
G1     1       -0.418265  1.316749
       2       -0.694856 -1.459351
       3        0.651329 -0.593532
G2     1       -1.444447  0.454308
       2       -0.322933 -2.094540
       3       -1.248701 -0.280919>

In [37]:
df.xs('G1')

                A         B
Numbers
1       -0.418265  1.316749
2       -0.694856 -1.459351
3        0.651329 -0.593532

In [38]:
df.xs(1, level="Numbers") # get the

               A         B
Groups
G1     -0.418265  1.316749
G2     -1.444447  0.454308